* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Heebo", sans-serif;
}

:root {
  --brown: #581d0c;
  --yellow: #f9c739;
  --gray: #343541;
  --light-brown: #b1857bd7;
  --white: #f5f5f5;
  --green: #31b33b;
}

body {
  background-color: var(--white);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

#header {
  height: 100px;
  width: 100%;
  background: var(--brown);
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
}

#header-container {
  width: 90%;
  max-width: 1600px;
  margin: auto;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

#header__nav {
  width: 20%;
}

#header__nav-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#header__nav-list li {
  cursor: pointer;
  font-size: 20px;
}

#header__nav-list li a {
  color: var(--yellow);
}

#logo-container {
  height: 100%;
}

#logo-container img {
  height: 150%;
}

#main-container {
  margin: auto;

  display: flex;
  width: 90%;
  max-width: 1600px;
  height: min-content;
  position: relative;
}

#aside {
  display: flex;
  flex-direction: column;
  width: 18%;
  position: fixed;
  margin-top: 100px;
}

#aside__nav-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  border-right: 1px solid var(--brown);
  margin: 56px 0 56px 0;
}

#aside__nav-list li {
  position: relative;
  padding: 4px 0;
  overflow: hidden;
}

#aside__nav-list li:hover::after {
  left: 0;
}

#aside__nav-list li::after {
  content: "";
  width: 25%;
  height: 4px;
  background: var(--yellow);
  position: absolute;
  left: -50%;
  bottom: 0;
  border-radius: 8px;
  transition: all 0.3s ease;
}

#aside__nav-list a {
  color: var(--gray);
  font-weight: bold;
  font-size: 22px;
}

#form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#form h2 {
  color: var(--gray);
}

#form label {
  width: 100%;
}

#form input {
  width: 100%;
  height: 40px;
  padding-left: 8px;
  background-color: var(--white);
  border: 2px solid transparent;
  border-radius: 8px;
  outline: 1px solid var(--gray);
}

#form textarea {
  width: 100%;
  padding: 8px 0 0 8px;
  height: 90px;
  resize: none;
  background-color: var(--white);
  border: 2px solid transparent;
  border-radius: 8px;
  outline: 1px solid var(--gray);
}

#form input:focus,
textarea:focus {
  border: 2px solid #000;
  outline: none;
}

#form button {
  width: fit-content;
  align-self: center;
  padding: 6px 12px;
  font-size: 0.9em;
  cursor: pointer;
}

#main {
  width: 80%;
  padding: 56px 0 56px 90px;
  margin-left: auto;
}

#main section {
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding-top: 100px;
}

#main section h2 {
  font-size: 2em;
  color: var(--gray);
}

.cards-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.card {
  width: 300px;
  display: flex;
  flex-direction: column;
  background: #e5e5e5;
  color: var(--gray);
  border-radius: 16px 16px 0 0;
}

.card__img-container {
  width: 100%;
  height: 200px;
  border-radius: 16px 16px 0 0;
  overflow: hidden;
  position: relative;
  object-fit: contain;
}

.card__img-container img {
  width: 100%;
  height: 100%;
}

.price {
  background: var(--green);
  position: absolute;
  bottom: 0;
  right: 0;
  color: var(--white);
  padding: 6px 12px;
  border-radius: 16px 0 0 0;
}

.card__name {
  font-size: 1.2em;
  margin: 16px 16px 8px;
  font-weight: bold;
}

.description {
  margin: 0 16px;
}

.card button {
  padding: 6px 12px;
  width: fit-content;
  margin: 16px;
  cursor: pointer;
}

#footer {
  width: 100%;
  height: 50px;
  background-color: var(--gray);
  display: flex;
  align-items: center;
  color: var(--white);
  position: relative;
}
#footer-container {
  width: 90%;
  max-width: 1600px;
  margin: auto;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

#socials-container {
  display: flex;
  gap: 16px;
}

#footer img {
  height: 25px;
  filter: invert(100);
  cursor: pointer;
}

#footer-copy {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}
